[submodule "Projects/Project-TodoList-Bootstrap-jQuery"]
	path = Projects/Project-TodoList-Bootstrap-jQuery
	url = https://github.com/thenishantgiri/Project-TodoList-Bootstrap-jQuery
[submodule "Projects/Game-Slot-Machine"]
	path = Projects/Game-Slot-Machine
	url = https://github.com/thenishantgiri/Game-Slot-Machine
[submodule "Projects/Project-TodoList-ExpressJS"]
	path = Projects/Project-TodoList-ExpressJS
	url = https://github.com/thenishantgiri/Project-TodoList-ExpressJS
[submodule "Day22/Sequelize/Project-BatchCodeGenerator"]
	path = Day22/Sequelize/Project-BatchCodeGenerator
	url = https://github.com/thenishantgiri/Project-BatchCodeGenerator
[submodule "Projects/Project-BatchCodeGenerator"]
	path = Projects/Project-BatchCodeGenerator
	url = https://github.com/thenishantgiri/Project-BatchCodeGenerator
[submodule "Day23/Project-ShoppingCart"]
	path = Day23/Project-ShoppingCart
	url = https://github.com/thenishantgiri/Project-ShoppingCart
[submodule "Projects/Project-ShoppingCart"]
	path = Projects/Project-ShoppingCart
	url = https://github.com/thenishantgiri/Project-ShoppingCart
[submodule "Projects/Project-Social_Media_App-sample"]
	path = Projects/Project-Social_Media_App-sample
	url = https://github.com/thenishantgiri/Project-Social_Media_App-sample.git
[submodule "Day24/Project-Social_Media_App-sample"]
	path = Day24/Project-Social_Media_App-sample
	url = https://github.com/thenishantgiri/Project-Social_Media_App-sample.git
[submodule "Day25/Project-Realtime_Chat_App-with_WebSockets"]
	path = Day25/Project-Realtime_Chat_App-with_WebSockets
	url = https://github.com/thenishantgiri/Project-Realtime_Chat_App-with_WebSockets
[submodule "Projects/Project-Realtime_Chat_App-with_WebSockets"]
	path = Projects/Project-Realtime_Chat_App-with_WebSockets
	url = https://github.com/thenishantgiri/Project-Realtime_Chat_App-with_WebSockets
[submodule "Day26/Project-Realtime_WebApp-Color_It_Now-with_Socket.IO"]
	path = Day26/Project-Realtime_WebApp-Color_It_Now-with_Socket.IO
	url = https://github.com/thenishantgiri/Project-Realtime_WebApp-Color_It_Now-with_Socket.IO
[submodule "Projects/Project-Realtime_WebApp-Color_It_Now-with_Socket.IO"]
	path = Projects/Project-Realtime_WebApp-Color_It_Now-with_Socket.IO
	url = https://github.com/thenishantgiri/Project-Realtime_WebApp-Color_It_Now-with_Socket.IO
[submodule "Day28/SampleDeployFrontend"]
	path = Day28/SampleDeployFrontend
	url = https://github.com/thenishantgiri/SampleDeployFrontend.git
