#para1 {
    font-size: 30px;
    /* font-size:4vh; 1vh = 1/100 of window height */
}

#para2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#para3 {
    font-style: italic;
    font-weight: bold;
}

#para4 {
    word-spacing: 10px;
    letter-spacing: 2px;
}