<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Server ON State</title>
  </head>
  <body>
    <h1>State ON Server</h1>
    <p>Hello There Aashish Chaudhary, Streak Day01 ( *︾▽︾)</p>
    <p>Visitor Count: {{count}}</p>
  </body>
</html>